openssl_conf = openssl_init

[openssl_init]
providers = providers_sect
alg_section = algorithm_sect

[providers_sect]
default = default_sect
legacy = legacy_sect

[default_sect]
activate = 1

[legacy_sect]
activate = 1